@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;800;900&family=Rubik:wght@300;400;800&display=swap');

.container {
    padding: 3rem 7rem;
    background-color: #f8f8f8;
}

.title-header {
    text-align: center;
    color: #6A4029;
    font-family: Rubik;
    font-weight: 500;
    font-size: 30px;
}

.title {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 25px;
    gap: 0.6rem
}

.slideBtn {
    display: flex;
    gap: 1rem;
    font-size: 25px
}

.box-titik {
    display: flex;
    gap: 0.5rem;
}

.titik {
    background-color: #000000;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.images {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.container-side {
    position: relative;
    top: 3rem;
    display: flex;
}

.left {
    height: 43.3rem;
    width: 776px;
    background-color: white;
    box-shadow: 0px 0px 14px 3px #00000059;
    padding: 2rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.right-top {
    background-color: white;
    position: relative;
    left: 3rem;
    width: 315px;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0px 0px 14px 3px #00000059;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.right-bottom {
    margin-top: 20px;
    background-color: white;
    display: flex;
    margin-bottom: 8rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    left: 3rem;
    top: 1rem;
    width: 315px;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0px 0px 14px 3px #00000059;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.name {
    font-weight: 700;
    font-family: Poppins;
    font-size: 20px;
}

.comment {
    font-weight: 400;
    font-size: 15px;
    font-family: Poppins;
    width: 80%;
}

.top-best {
    display: flex;
    gap: 0.5rem;
}

.vertical-line {
    width: 100%;
    text-align: left;
    padding: 0;
    opacity: 1;
    color: #D6D9DC;
}

.top-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bestStaff {
    font-weight: 700;
    font-size: 18px;
    font-family: Poppins;
}

.size {
    position: relative;
    margin-bottom: 2rem;
    top: 1rem;
    width: 74px;
    height: 74px;
}

.inform {
    font-weight: 400;
    font-family: Poppins;
    font-size: 14px;
    color: #7C828A;
}

.goals {
    font-weight: 700;
    font-size: 22px;
    font-family: Nunito Sans;
}

.urGoals {
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 16px;
    color: #7C828A;
}

.precent {
    position: relative;
    margin-top: 2rem;
    margin-right: 1rem;
}


.image1 {
    position: relative;
    left: 62px !important;
    bottom: 39px;
}

.image2 {
    position: relative;
    right: 2rem !important;
}

.textPersent {
    position: relative;
    bottom: 93px;
    left: 18px;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 22px;
}

.circles {
    width: 8px;
    height: 8px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.leftC {
    background-color: #147AD6;
}

.middleC {
    background-color: rgba(115, 136, 169, 0.353283);
}

.circle-bottom {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
}

.date {
    color: #7C828A;
    font-family: Poppins;
    font-weight: 400px;
    font-size: 20px;
}

.Monthly-report {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
}

.chart {
    position: relative;
    top: 4rem;
}

.sectionBtn {
    display: flex;
    gap: 2rem;
}

.btn {
    cursor: pointer;
    background-color: #6A4029;
    text-align: center;
    padding: 1.5rem;
    user-select: none;
    border-radius: 20px;
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 35px;
    box-shadow: 0px 6px 20px 0px #6A402999;
    color: white;
    width: 64%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btn2 {
    cursor: pointer;
    text-align: center;
    padding: 1.5rem;
    user-select: none;
    color: white;
    box-shadow: 0px 6px 20px 0px #6A402999;
    border-radius: 20px;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 35px;
    background-color: #6A4029;
    width: 27.5%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btn:active,
.btn2:active {
    background-color: #412618;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 3rem 4rem;
        display: flex;
        flex-direction: column;
    }

    .left {
        width: 655px;
    }

    .chart {
        width: 36rem;
    }

    .container-side {
        flex-direction: column;
    }

    .right {
        margin-top: 2rem;
        display: flex;
    }

    .right-top {
        left: 0px;
        margin-top: 1rem;
    }

    .right-bottom {
        top: -3px;
        margin-bottom: 0px;
        width: 308px;
        left: 2rem;
    }

    .sectionBtn {
        margin-top: 7rem;
    }

    .btn {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 31px;
    }

    .btn2 {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 29px;
        width: 15rem;
    }
}