.main {
    background: url("../assets/img/history/bg.jpeg");
    background-size: cover;
}

.container {
    padding: 83px;
    color: white;
    display: flex;
    flex-direction: column;

}

.title-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-card {
    display: flex !important;
    flex-direction: row !important;
}

.testing {
    gap: 25px;
    padding-top: 50px;
    cursor: pointer;
}

.anjas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.title-history {
    font-family: Rubik;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 0px 6px 3px #000000cc;
}

.second-history {
    text-shadow: 0px 6px 3px #000000cc;
}

.select-delete {
    padding-right: 0%;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    font-weight: 500;
    font-size: 20px;
    font-family: Poppins;
    text-decoration: underline;
    padding-top: 20px;
    cursor: pointer;
    user-select: none;
}

.navbar-mobile {
    display: none;
}

.navbar-pc {
    display: block;
}

.bungkusan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    padding-top: 75px;
}

.bungkusan-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: black;
    padding-top: 75px;
}

.bungkusan-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: black;
    padding-top: 75px;
}


.hide {
    display: none;
}

.next {
    background-color: white;
    text-align: end;
    font-family: Rubik;
    cursor: pointer;
    position: relative;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.prev {
    background-color: white;
    text-align: start;
    position: relative;
    font-family: Rubik;
    cursor: pointer;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

@media screen and (max-width: 768px) {
    .title-history {
        font-size: 37px;
    }

    .container {
        padding: 40px;
    }

    .navbar-pc {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }

    .testing {
        padding-top: 15px;
    }
}