.main {
    background: url("../assets/img/payment/bg.jpg");
    background-size: cover;
}

.container {
    padding: 30px 60px;
}

.status {
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.circle {
    width: 50px;
    height: 50px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.second-sircle {
    position: relative;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.hr {
    border: 1px solid #333;
    position: relative;
    width: 100%;
    margin: auto;
}

.hrRadio {
    border: 1px solid #333;
    position: relative;
    width: 80%;
    margin: auto;
    top: -10px;
}

.three-sircle {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    background-color: #6A4029;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.vertical-line {
    width: 10%;
    text-align: left;
    padding: 0;
    opacity: 1;
    margin-top: 24px;
}

.vertical-linee {
    width: 26%;
    text-align: left;
    margin-top: 24px;
    margin-left: 0%;
    padding: 0;
    opacity: 1;
    position: absolute;
}

.vertical-lineee {
    width: 12%;
    text-align: left;
    margin-top: 24px;
    margin-left: 13%;
    padding: 0;
    opacity: 1;
    position: absolute;
}

.circle-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 90px;
    color: white;
    font-family: Rubik;
    font-size: 40px;
    font-weight: 700;
    width: 40%;
    text-shadow: 0px 5px 3px #000000cc;
}

.side-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    width: 40%;
    padding: 30px;
    box-shadow: 0px 10px 40px 0px #00000059;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.container-side {
    padding: 20px 120px;
    display: flex;
    padding-bottom: 80px;
}

.title-order {
    font-family: Poppins;
    font-size: 35px;
    font-weight: 700;
    color: #362115;
    padding-top: 20px;
}

.card-settings {
    padding-top: 50px;
    width: 100%;
}

.total-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    color: #362115;
}

.final-total {
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    color: #362115;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.side-right {
    margin-left: 20%;
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.right-top {
    width: 100%;
}

.top {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 40px 0px #00000033;
    width: 100%;
    padding: 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.bottom {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 40px 0px #00000033;
    width: 100%;
    padding: 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.title-top {
    font-family: Poppins;
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    justify-content: space-between;
}

.address-text {
    width: 100%;
    color: black;
}

.address-text span {
    font-weight: 400;
}

.delivery {
    display: flex;
    flex-direction: row;
}

.delivery span {
    font-weight: 700;
}

.addres-title {
    font-family: Poppins;
    font-weight: 700;
    color: white;
    text-shadow: 0px 4px 3px #000000cc;
}

.edit-title {
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0px 2px 3px #000000cc;
}



.button-radio {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 20px;
    align-items: flex-start;
}

.button-radio-cod {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 0px;
    align-items: flex-start;
}

.card-button input {
    width: 20px;
    height: 20px;
}

input[name="via"] {
    accent-color: #895537;
}

.logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #F47B0A;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.logo-card-bank {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #895537;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.logo-card-cod {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #FFBA33;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.btn {
    margin-top: 38px;
    width: 100%;
    background-color: #6A4029;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: Poppins;
    text-align: center;
    box-shadow: 0px 10px 20px 0px #89553766;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.navbar-mobile {
    display: none;
}

.navbar-pc {
    display: block;
}

@media screen and (max-width: 768px) {
    .navbar-pc {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }

    .container {
        padding: 30px 0;
    }

    .container-side {
        padding: 20px 20px;
    }

    .side-left {
        width: 60%;
    }

    .side-right {
        margin-left: 0px;
        width: 41%;
    }

    .header-title {
        width: 80%;
    }

    .vertical-lineee {
        margin-left: 20%;
    }
}