@media screen and (max-width: 768px) {
    .navBar {
        display: flex;
        flex-direction: column;
    }

    .mainbox {
        width: 90%;
        margin: 0 auto;
    }

    .rightContent {
        position: relative;
        top: -70px;
        left: 260px;
    }

    .midContent {
        position: relative;
        top: 40px;
    }

    .leftContent {
        position: relative;
        right: 278px;
        top: 30px;
    }

    .pp {
        margin-top: 0px !important;
    }

    .rightContent>img {
        margin-top: 0px !important;
    }
}

.maincontainer {
    max-width: 1440px;
    margin: auto;
}

.select-delete {
    padding-right: 0%;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    font-weight: 500;
    font-size: 20px;
    font-family: Poppins;
    text-decoration: underline;
    padding-top: 20px;
    cursor: pointer;
    user-select: none;
}

.nav {
    display: flex;
    flex-wrap: inherit;
    list-style: none;
    gap: 7.5rem;
    align-items: center;
    color: #333;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.nav li:hover {
    color: #6A4029;
    transition: ease-in-out 0.1s;
    -webkit-transition: ease-in-out 0.1s;
    -moz-transition: ease-in-out 0.1s;
    -ms-transition: ease-in-out 0.1s;
    -o-transition: ease-in-out 0.1s;
}

.nav ol {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
    animation: slideInFromLeft 1s ease-in;
}

.navigationBar div {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.navigationBar {
    justify-content: space-between;
    margin: auto;
    text-align: center;
}

.navBar {
    align-items: center;
    font-size: large;
    padding: 0px !important;
}

.pp {
    background-size: 34px;
    height: 34px;
    width: 34px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 9px;
}

.leftContent>p {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 20px;
}

.rightContent>img {
    margin-top: 12px;
    margin-right: 35px;
    align-items: center;
    cursor: pointer;
}

.search {
    margin-top: 3px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.search-display {
    display: none;
}

.Nav-Search-display {
    display: none;
}

.searchh {
    display: inline;
    padding: 5px;
    height: 29px;
    border-radius: 10px;
    border: none;
    margin-left: 5px;
    background-color: #EFEEEE;
    outline: none;
}

.icon1 {
    margin-top: 3px;
    width: 28px;
    height: 28px;
}

.new-Navsearch {
    margin-left: 5px;
    margin-top: 1px
}

.right-content>img:hover {
    opacity: 80%;
}

.a {
    text-decoration: none;
}

.a li {
    color: #4F5665;
}

.leftContent {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.Nav-Search {
    display: flex;
    align-items: center;
    background-color: #EFEEEE;
    border-radius: 10px;
    margin-top: 5px;
    height: 32px;
}

.pembungkus-none {
    display: none !important;
}

.pembungkus-block {
    display: block !important;
}

.close-icon {
    position: absolute;
    right: 149px;
    top: 47px;
    cursor: pointer;
}